/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(black, grey);
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 32px;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
}

a:hover {
  color: palevioletred;
}

i:hover {
  color: palevioletred;
  font-weight: 900;
}

.mail {
  color: #aedfae;
}
.mail:hover {
  color: palevioletred;
}

.nav-bar {
  font-size: 2rem;
  text-align: center;
  padding: 2rem 0;
}
.nav-bar a {
  color: #aedfae;
  margin: 0 2rem;
}
.nav-bar a:hover {
  color: palevioletred;
  font-weight: 900;
}

/* pAGE STYLE */
/* Header */
@-webkit-keyframes newAnimation {
  0% {
    border-color: aqua;
  }
  25% {
    border-color: deepskyblue;
  }
  50% {
    border-color: lightblue;
  }
  75% {
    border-color: white;
  }
  100% {
    border-color: red;
  }
}
@keyframes newAnimation {
  0% {
    border-color: aqua;
  }
  25% {
    border-color: deepskyblue;
  }
  50% {
    border-color: lightblue;
  }
  75% {
    border-color: white;
  }
  100% {
    border-color: red;
  }
}
.header-container {
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
}

header {
  background-color: rgba(51, 51, 51, 0.42);
  padding: 0.8rem 0;
  font-size: 2rem;
  font-weight: 700;
  position: fixed;
  width: 100%;
}
header .header-nav a {
  color: #aedfae;
  margin-right: 4.6rem;
}
header .header-nav a:hover {
  border-bottom: 4px dashed pink;
  -webkit-animation: newAnimation 1s ease-in-out 0.2s infinite normal forwards;
          animation: newAnimation 1s ease-in-out 0.2s infinite normal forwards;
  color: #ff3377;
}
header .active {
  color: palevioletred;
}

.resume {
  color: #aedfae;
}

/* HERO SECTION */
@-webkit-keyframes changeColor {
  0% {
    color: aqua;
  }
  15% {
    color: #00a3a3;
  }
  25% {
    color: #386c7e;
  }
  50% {
    color: deepskyblue;
  }
  65% {
    color: fuchsia;
  }
  75% {
    color: white;
  }
  85% {
    color: orangered;
  }
  100% {
    color: #ee1515;
  }
}
@keyframes changeColor {
  0% {
    color: aqua;
  }
  15% {
    color: #00a3a3;
  }
  25% {
    color: #386c7e;
  }
  50% {
    color: deepskyblue;
  }
  65% {
    color: fuchsia;
  }
  75% {
    color: white;
  }
  85% {
    color: orangered;
  }
  100% {
    color: #ee1515;
  }
}
.hero {
  height: 100vh;
  font-size: 3.2rem;
  color: #aedfae;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../media/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero strong {
  color: #baf1ba;
  font-size: 4.4rem;
  font-weight: 600;
}
.hero strong:hover {
  color: pink;
  -webkit-animation: changeColor 2s ease-in-out 0.2s infinite normal forwards;
          animation: changeColor 2s ease-in-out 0.2s infinite normal forwards;
}

.hero-div {
  margin-right: 20rem;
}

/* ABOUT SECTION */
.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.about img {
  width: 20rem;
  height: 24.5rem;
  border-radius: 50%;
  padding: 0.6rem;
  border: 0.2rem solid #e6320e;
  background-color: #094c86;
}

.about-head {
  text-align: center;
  padding: 6rem 0;
}
.about-head h3 {
  color: #aedfae;
  border-radius: 2rem;
  font-size: 3rem;
  font-weight: 700;
}

.address {
  padding: 4rem 6rem;
  line-height: 2;
  font-size: 1.6rem;
  font-weight: 500;
  color: #aedfae;
}

.address-div {
  margin-top: 2rem;
  margin-right: 3.4rem;
}

.contact-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.skill {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  margin: 0 auto;
}
.skill p {
  text-align: center;
  padding: 3rem 0;
}
.skill h3 {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  color: #aedfae;
  padding: 0.6rem;
  border-radius: 2rem;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(2, 2fr);
  gap: 2rem;
  row-gap: 4rem;
  padding-top: 4rem;
}

.box {
  border: 4px solid #0404f8;
  background-color: #00d9ff;
  box-shadow: 4px 4px 4px 4px plum;
  padding: 3.5rem 3.5rem;
  text-align: center;
  border-radius: 10%;
  color: #010131;
  font-size: 2rem;
  font-weight: 900;
}
.box i {
  font-size: 8rem;
}

/* PROJECTS SECTION */
.projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  margin-left: 10rem;
}
.projects a {
  color: #aedfae;
}

.pro-head {
  text-align: center;
  padding: 4rem 0;
}
.pro-head h3 {
  color: #aedfae;
  border-radius: 2rem;
  font-size: 3rem;
  font-weight: 700;
  padding: 1rem 0;
  margin-right: 6rem;
}

.project-link {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(4, 2fr);
  gap: 2rem;
  row-gap: 0.6rem;
}

.img {
  width: 22rem;
  height: 11.8rem;
  padding: 0.4rem;
  margin: 1rem;
  border: 4px solid palevioletred;
  border-radius: 1rem;
  box-shadow: 4px 4px 4px 4px aqua;
}

.btn {
  position: absolute;
  margin-top: 10.2rem;
  margin-left: -16.2rem;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  box-shadow: 2px 2px 2px 2px white;
  font-weight: 800;
  border-radius: 30%;
  background-color: palevioletred;
}
.btn:hover {
  background-color: crimson;
}

/* CONTACT SECTION */
.contact {
  height: 65vh;
  padding: 6rem 0;
  background-color: #686666;
}
.contact h4 {
  text-align: center;
  padding: 4rem;
  font-size: 5rem;
  font-weight: 300;
  color: #aedfae;
}

.contact-nav a {
  color: #aedfae;
}

.contact-div {
  background-color: #02023d;
  color: #e4e1e1;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 3rem;
  border-radius: 4rem;
  margin: 0 3rem;
  box-shadow: 2px 1px 6px 6px white;
}
.contact-div h5 {
  color: #fd889c;
  font-weight: 600;
}
.contact-div span {
  color: #aedfae;
  font-weight: 400;
}

.contact-address {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #aedfae;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2;
}

.top {
  text-align: center;
}

.top i {
  color: aqua;
}

.top-btn {
  text-align: center;
  font-size: 2rem;
}

/* FOOTER */
footer {
  background-color: #2c2b2b;
  padding: 1rem;
  color: darkgray;
  text-align: center;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {
  html {
    font-size: 14px;
  }

  .container {
    max-width: 992px;
  }

  header {
    width: 100%;
    margin: -1rem;
    padding-top: 2rem;
  }

  .projects {
    margin-top: 3rem;
    margin-left: 3rem;
  }

  .contact {
    margin-top: 2rem;
  }

  .top {
    margin: -2rem 0;
  }
}
/*  FOR  MEDIUM SCREENS */
@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }

  .container {
    max-width: 720px;
  }

  header {
    margin: -1.2rem;
  }

  .hero {
    margin: 4rem;
  }

  .about {
    margin: 6rem;
  }

  .projects {
    margin: 9rem 0;
  }

  .contact {
    margin-top: 12rem;
  }

  .top {
    margin: 1.4rem 0;
  }

  /* NAVBAR */
  .nav-bar {
    position: fixed;
    height: 5rem;
    top: 0;
    z-index: 100;
  }

  .nav-bar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 13rem;
    z-index: 9;
  }

  .nav-bar a {
    font-size: 1.2rem;
  }

  /* BLOG PAGE */
  .blog {
    padding: 2rem 0;
    margin-top: 4rem;
  }
}
/*FOR SAMLL SCREENS */
@media screen and (max-width: 576px) {
  html {
    font-size: 10px;
  }

  .container {
    max-width: 520px;
  }

  header {
    margin: -2.4rem;
  }

  .about {
    padding: 5.4rem;
  }

  .skill {
    padding: 2rem;
    margin-left: 4rem;
  }

  .projects {
    margin-right: 2rem;
  }

  .contact {
    margin-left: 6rem;
    background-color: #706d6d;
  }

  .nav-bar a {
    font-size: 1rem;
  }

  .nav-bar {
    margin: 5px 0;
  }

  /* FOOTER */
  .footer {
    padding-left: 8rem;
  }
}/*# sourceMappingURL=style.css.map */